ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: var(--main-color);
}
:root{
    --main-color: brown;
    --secondary-color: blue;
}
body{
    background-color: black;
    background-attachment: fixed;
    background-image: ;
}