ul{
    list-style: none;
}
#navbarNav .navbar-nav a{
    text-decoration: none;
    color: var(--main-color) !important;
}
:root{
    --main-color: brown;
    --secondary-color: blue;
}
body{
    background-color: black;
    background-attachment: fixed;
    background-image: url();
}
.navbar-brand{
    color: var(--main-color) !important;
}
.navbar-toggler{
    background-color: var(--main-color) !important;
}